/***** GENERAL STYLES *****/
.wrapper {
    background-color: #074;
    padding-bottom: 25px;
    border-radius: 10px;
}

header {
    font-size: 3.5em!important;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    text-shadow: 4px 4px #000;
    color: whitesmoke;
}

h1, p, li, label  {
    font-family: 'open sans', sans-serif;
}

.link {
    font-size: 1.75em;
    font-family: 'Open Sans', sans-serif;
    padding-right: 15px;
    text-decoration: none;
}

.link:hover {
   text-decoration: underline;
}

body {
    padding: 20 20 0 20;
    background-color: whitesmoke!important;
}
/******************************/

/***** STYLES TO FIX SPECIFIC THINGS *****/
.group, .ted {
    max-width: 50%;
    float: right;
    border-radius: 10px;
    border-style: solid;
    border-width: thin;
}

.carousel-control.right, .carousel-control.left, .item {
    margin-bottom: 25px;
}
/*****************************************/

/***** STYLES FOR STICKY FOOTER *****/

.content {
  min-height: calc(100vh - 110px);
}

footer {
    text-align: center;
    padding: 5px 0px;
}

footer img, footer p {
    max-height: 40px;
    display: inline;
}
/***********************************/



/***** MEDIA QUERIES *****/
@media (max-width:1000px) {
    .group {
        float:none;
        max-width: 95%;
    } 
    input, label, button {
        font-size: 1.5em;
        width: 100%;
    }
    #lessons, #events {
        width:inherit;
    }
}

@media (min-width:1000px){
    
/*FIX CAROUSEL SO PICTURES DO NOT DIP BELOW WINDOW ON DESKTOP SCREENS*/
    #myCarousel {
        padding-left: 25%;
        padding-right: 25%;
    }
}