.wrapper {
    background-color: #074;
    padding-bottom: 25px;
    border-radius: 10px;
}

header {
    font-size: 3.5em;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    text-shadow: 4px 4px #000;
    color: whitesmoke;
}

h1, p, li, label  {
    font-family: 'open sans', sans-serif;
}

.link {
    font-size: 1.75em;
    font-family: 'Open Sans', sans-serif;
    padding-right: 15px;
    text-decoration: none;
}

.link:hover {
   text-decoration: underline;
}

body {
    padding: 20 20 0 20;
    background-color: whitesmoke!important;
}

.group, .ted {
    max-width: 50%;
    float: right;
    border-radius: 10px;
    border-style: solid;
    border-width: thin;
}

.ted {
    max-width: 30%
}

@media (max-width:1000px) {
    .group {
        float:none;
        max-width: 95%;
    }   
}

@media (min-width:1000px){
    
/*FIX CAROUSEL SO PICTURES DO NOT DIP BELOW WINDOW ON DESKTOP SCREENS*/
    #myCarousel {
        padding-left: 25%;
        padding-right: 25%;
        background-color: whitesmoke;
    }
}